[user]
	name = Marcos Azevedo (psylinux)
	email = psylinux@gmail.com
[push]
	default = simple
[core]
	excludesfile = /home/cowboy/.gitignore
[pull]
	rebase = false
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[init]
	defaultBranch = master
